<h1><%= @student.name%></h1>
<% if !@student.assignments.empty? %>
    <% @student.assignments.each do |assignment| %>
        <p><%= assignment.title %></p>
    <%end %>
<% else %>
    <p>No assignments</p>
<% end %>