<h1><%= @student.name %></h1>
<ul>
<% if @student.assignments.empty? %>
    <p>No assignment available</p>
<% else %>
    <% @student.assignments.each do |assignment| %>
        <li><%= assignment.title %> - <%= assignment.grades.find_by(assignment_id: assignment.id).letter_grade %> <%= link_to "Grade Assignment", assignment_grade_path(assignment.id) %></li>
    <% end %>
<% end %>
</ul>
