<h1>Classes Menu</h1>

<h3>Classes Open</h3>
    <ul>
        <% if @class_rooms.empty? %>
            <p>No classes Open</p>
        <% else %>
            <% @class_rooms.each do |class_room| %>
                <p><%= link_to class_room.subject, class_room_path(class_room.id) %></p>
            <% end %>
        <% end %>
    </ul>
<p><%= link_to "Add new class", new_class_room_path %></p>