<h1><%= @student.name %></h1>

<% if @student.gradebook %>
    <h3>No assignements or grades</h3>
<% else %>
    <ul>
    <%@student.gradebook.each do |assginment| %>
        <h3><%= assignment.title%> - <%= assignment.number_grade%></h3>        
    <% end %>
    </ul>
<% end %>
